<nav class="navigator">
  <h1 class="navigator__title">Навигатор по страницам</h1>
  <ul class="navigator__list">
    {{#each pages}}
      <li class="navigator__item">
        <a class="navigator__link">{{this.name}}</a>
      </li>
    {{/each}}
  </ul>
</nav>