<main class="profile">
  <aside class="profile__sidebar">
    <div class="profile__sidebar-icon">
        <img src="RiArrowLeftLine.svg" alt="back">
    </div>
  </aside>

  <section class="profile__content">
    <form class="profile-content__form" id="edit-profile-form">
        <div class="profile-content__avatar">
            <label for="avatar" class="profile-content__avatar-title">
                <img src="Avatar.svg" width="100" height="100" alt="Аватар">
            </label>
            <input id="avatar" type="file" accept=".png, .jpeg, .jpg"/>
        </div>
        <div class="profile-content__form-body">
            <div data-slot="loginInput"></div>
            <div data-slot="emailInput"></div>
            <div data-slot="firstNameInput"></div>
            <div data-slot="secondNameInput"></div>
            <div data-slot="displayNameInput"></div>
            <div data-slot="phoneInput"></div>
            <div data-slot="oldPasswordInput"></div>
            <div data-slot="newPasswordInput"></div>
            <div data-slot="reTypePasswordInput"></div>
        </div>
        <div data-slot="saveButton"></div>
    </form>
  </section>
</main>
