<main class="profile">
  <aside class="profile__sidebar">
    <div class="profile__sidebar-icon">
        <img src="RiArrowLeftLine.svg" alt="back">
    </div>
  </aside>

  <section class="profile__content profile-content">
    <div class="profile-content__header">
        <div class="profile-content__icon"></div>
        <h3 class="profile-content__title">{{username}}</h3>
    </div>

    <div class="profile-content__info">
        <div class="profile-content__row">
          <span class="profile-content__label">Почта</span>
          <span class="profile-content__value">pochta@yandex.ru</span>
        </div>
        <div class="profile-content__row">
          <span class="profile-content__label">Логин</span>
          <span class="profile-content__value">ivanivanov</span>
        </div>
        <div class="profile-content__row">
          <span class="profile-content__label">Имя</span>
          <span class="profile-content__value">Иван</span>
        </div>
        <div class="profile-content__row">
          <span class="profile-content__label">Фамилия</span>
          <span class="profile-content__value">Иванов</span>
        </div>
        <div class="profile-content__row">
          <span class="profile-content__label">Имя в чате</span>
          <span class="profile-content__value">Иван</span>
        </div>
        <div class="profile-content__row">
          <span class="profile-content__label">Телефон</span>
          <span class="profile-content__value">+7 (909) 967 30 30</span>
        </div>
    </div>
    <div class="profile-content__actions">
        <div class="profile-content__row">
        <a href="/editProfile" class="profile-content__link profile-content__link-edit">Изменить данные</a>
        </div>
        <div class="profile-content__row">
            <a href="#" class="profile-content__link profile-content__link-logout">Выйти</a>
        </div>
    </div>
  </section>
</main>