<main class="auth-page">
  <h1 class="auth-page__title">Регистрация</h1>
  <form class="auth-page__form" id="register-form">
    <div data-slot="loginInput"></div>
    <div data-slot="emailInput"></div>
    <div data-slot="firstNameInput"></div>
    <div data-slot="secondNameInput"></div>
    <div data-slot="phoneInput"></div>
    <div data-slot="phoneInput"></div>
    <div data-slot="passwordInput"></div>
    <div data-slot="reTypePasswordInput"></div>
    <div data-slot="logInButton"></div>
  </form>
  <p class="auth-page__register">
    <a class="auth-page__register-link" href="/login">Войти</a>
  </p>
</main>