<div class="chat-add-user-modal hidden">
  <div class="chat-add-user-modal__body">
    <div class="chat-add-user-modal__header">
      <h2>Добавить пользователя</h2>
      <button id="closeAddUser" class="chat-add-user-modal__close">&times;</button>
    </div>
    <div class="chat-add-user-modal__content">
      <div id="addUserInput"></div>
      <div id="addUserBtn"></div>
    </div>
  </div>
</div>
