<main class="messenger-page">
  <aside class="messenger-page__sidebar sidebar">
    <div class="sidebar__header">
      <div data-slot="profileButton"></div>
      <input type="text" class="sidebar__search-input" placeholder="Поиск" name="search" />
    </div>
    <div>
      <div id="AddChatComponent"></div>
      <div data-slot="addChatButton"></div>
      <ul class="messenger-page__chats-list">
        <div data-slot="chatList"></div>
      </ul>
      <form class="messenger-page_add-chat-form" id="add-chat-form">
        <div data-slot="addChatInput"></div>
        <div data-slot="addChatButton"></div>
      </form>
    </div>
  </aside>

  <section class="messenger-page__chat-content">

    <div data-slot="chatheader"></div>
    <div data-slot="chatUsersModal"></div>
    <div data-slot="addChatUserModal"></div>


    <div class="messenger-page__messages">
      <div data-slot="messageList"></div>
    </div>

    <form class="messenger-page__input-form message-input-form" id="chat-message-form">
      <div class="message-input-form__icon">
        <img src="AttachFileRounded.svg" width="32" height="32" alt="files">
      </div>
      <div class="message-input-form__wrapper-input" >
        <div data-slot="messageInput"></div>
      </div>

      <div data-slot="sendButton"></div>
    </form>
  </section>
</main>
