<div class="add-chat-modal hidden" id="addChatModal">
  <div class="add-chat-modal__body">
    <div class="add-chat-modal__body-header">
      <h2>Создать чат</h2>
      <button class="add-chat-modal__body-header-close" id="closeAddChatModal">&times;</button>
    </div>
    <div class="add-chat-modal__body-content">
      <form id="addChatForm" name="addChatForm">
        <div id="chatTitleInput"></div>
        <div id="addChatModalSubmit"></div>
      </form>
    </div>
  </div>
</div>
