<li class="chat-item">
    <div class="chat-item__avatar">
        {{#if avatar}}
            <img src="{{avatar}}" alt="None">
        {{/if}}
    </div>
    <div class="chat-item__context">
        <span class="chat-item__name">{{name}}</span>
        <span class="chat-item__last">{{last_message}}</span>
    </div>
</li>