@use '/src/styles/_variables.scss' as variables;
.chat-item {
    border-top: 1px solid #EAEAEA;
    padding: 0.75rem;
    text-align: start;
    display: flex;
    gap: 10px;
    cursor: pointer;

    &:hover {
      background: #e6e6e6;
    }

    &__avatar {
        height: 47px;
        width: 47px;
        border-radius: 50%;
        background-color:  variables.$color-gray-bg;
    }
}