@use '/src/styles/_variables.scss' as variables;
.chat-item {
    border-top: 1px solid #EAEAEA;
    padding: 0.75rem;
    text-align: start;
    display: flex;
    gap: 10px;
    cursor: pointer;
    &__wrapper {
      &__active {
        background-color: #e6f0ff;
        border: none;
      }
    }
    &:hover {
      background: #e6e6e6;
    }


    &__avatar {
        height: 47px;
        width: 47px;
        border-radius: 50%;
        background-color:  variables.$color-gray-bg;
    }
    &__context {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    &__last{
      font-size: 11px;
      color: #5a5d62;
    }
}
